<form class="mx-3 d-flex" action="/answer"  method="get" data-turbo="false">
  <input class="mx-3 px-5 py-1" type="text" name="questions">
  <input class="btn btn-py-1 px-4 btn-primary" type="submit" value="Ask">
</form>
